.App {
  text-align: center;
  font-family: "Roboto Condensed", serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.user-cards{
  display:flex;
  flex-wrap: wrap;
 margin:3rem;
 justify-content: space-around;
 
}

.user-card-container{
  display:flex;
  
  margin-bottom: 2rem;
}
.user-card-img{
  width: 100%;
}
/* 
.styled-card{
  background: #e5e5e5;
} */

/* FONT OVERRIDES */
 h1, h2, p {
  font-family: "Roboto Condensed", serif;
}


/* MEDIA QUERIES FOR MOBILE */
@media screen and (max-width: 500px) {
  .login-btn {
    display: none;
  }
  .member-txt {
    display: none;
  }
}

